# csv files with original data should not be uploaded

*.csv

# For now, I do not want to post User IDs, need to update
# code to strip those out
HoldOutData.csv.zip
TrainData.csv.zip

# original data for Arnold LOI
ArnoldProposal/data_dictionary.docx
ArnoldProposal/Incident_data.csv
ArnoldProposal/Entity_data.csv