# conda create --name chronpred python=3.12 pip
# conda activate chronpred
# pip install -r requirements.txt
matplotlib
seaborn
pandas
numpy
scikit-learn
xgboost
catboost
lightgbm
statsmodels
patsy
plotnine
jupyter
optuna
docx2pdf
# also requires installing quarto